* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #000;
    background: #eee;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 1512px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 80px 141px 80px;
    background: #FFF;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}

.content {
    margin-top: 120px;
    display: flex;
    gap: 54px;

}

.desc {
    max-width: 762px;
    margin-top: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 45px;
    color: #6B6868;
}

.buttons {
    margin-top: 104px;
    display: flex;
    gap: 38px;
}

.btn{
    display: inline-block;
    border: 2px solid #000000;
    background: transparent;
    padding: 30px 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 24px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000000;
}

.btn-secondary {
    background:#000;
    color: #fff;
}

.avatar {
    max-width: 497px;
}

.title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 87px;
    line-height: 90px;
    color: #000000;
}

.avatar img{
    border-radius: 0 0 0 300px;
    position: relative;
}

.border{
    position: relative;
    border: 4px solid #000;
    border-radius: 0 0 0 300px;
}

.border-bg{
    width: 100%;
    height: calc(100% - 30px);
    position: absolute;
    background: #000;
    border-radius: 0 0 0 300px;
    top: -12px;
    right: -7px;
}